*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include response(phone) {
    font-size: 50%;
  }

  @include response(tab-port) {
    font-size: 60%;
  }

  @include response(tab-land) {
    font-size: 70%;
  }

  @include response(big-desktop) {
    font-size: 80%;
  }
}

body {
  box-sizing: border-box;
}
